body{
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    line-height: 50px;
}
.btn{
    background-image: linear-gradient(#B993D6, #8CA6DB);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
}
.main-head{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.main-head-left{
    padding-left: 150px;
    width: 45%;
}
/* .main-head-left p{
    margin-bottom: 30px;
} */
.mb-30{
    margin-bottom: 30px;
}
.mt-40{
    margin-top: 40px;
}
.left-border{
    border-left: 4px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 10;
    padding-left: 8px;
}
.aquamarine-h{
    color: aquamarine;
}
.main-head-right {
    padding-left: 150px;
    width: 45%;
}
.head-image img{
    width: 80%;
}
.mission-head{
    text-align: center;
}
.mission-head h1{
    font-size: 40PX;
}

.mission-body{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-left: 70px;
    margin-bottom: 200px;
}
.mi-first-content{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    background-color: #ecd9e5;
    border-radius: 20px;
}
.mi-image-1 img{
    width: 35%;
}
.mi-secoend-content{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    background-color: #c4d1e9;
    border-radius: 20px;
}
.mi-image-2 img{
    width: 35%;
}
.mi-third-content{
   width: 300px;
   height: 280px;
   padding: 20px 20px;
   background-color: #a8cfd8;
   border-radius: 20px;
}
.mi-image-3 img{
    width: 35%;
}