body{
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    line-height: 30px;
}
p{
    font-size: 14px;
}
#head-style{
    font-family: 'The Nautigal',
    cursive;
    font-size: 70px;
}
.h2-disg{
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
}
.btn{
    background-image: linear-gradient(#B993D6, #8CA6DB);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 10px 10px #B993D6;
}
.btn:hover{
    color: white;
}
.main-head{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.main-head-left{
    padding-left: 150px;
    width: 45%;
}
/* .main-head-left p{
    margin-bottom: 30px;
} */
.mb-30{
    margin-bottom: 30px;
}
.mt-40{
    margin-top: 40px;
}
.left-border{
    border-left: 4px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 10;
    padding-left: 8px;
}
.aquamarine-h{
    color: rgb(120, 219, 186);
}
.main-head-right {
    padding-left: 150px;
    width: 45%;
}
.head-image img{
    width: 80%;
}
.mission-head{
    text-align: center;
}
.mission-head h1{
    font-size: 40PX;
}

.mission-body{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-left: 70px;
    margin-bottom: 70px;
}
.mi-first-content{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    background-color: #ecd9e5;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
}
.mi-image-1 img{
    width: 35%;
}
.mi-image-1 img:hover{
    width: 50%;
    transition-duration: .4s;
}
.mi-secoend-content{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    background-color: #c4d1e9;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
}
.mi-image-2 img{
    width: 35%;
}
.mi-image-2 img:hover {
    width: 50%;
    transition-duration: .4s;
}
.mi-third-content{
   width: 300px;
   height: 280px;
   padding: 20px 20px;
   background-color: #a8cfd8;
   border-radius: 20px;
   box-shadow: 5px 10px 18px #888888;
}
.mi-image-3 img{
    width: 35%;
}
.mi-image-3 img:hover {
    width: 50%;
    transition-duration: .4s;
}
.body-dev{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 170px;
    background-position-x: 180px;
    background-position-y: 70px;
}
.body-dev-image img{
    width: 50%;
    padding-left: 250px;
    
}
.body-dev-pra p span{
    font-weight: 700;
    font-size: 18px;
}
.body-dev-pra p span:hover{
    color: black;
    font-size: 25px;
    transition-duration: .3s;
}
.body-dev-pra{
    padding-right: 150px;
}
.body-third-elem{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-x: 1030px;
    background-position-y: 250px;

}
.body-glo-com{
    padding-left: 250px ;
}
.body-glo-com-image img{
    width: 50%;
    padding-left: 100px;
}
.services{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: 30px;
    background-position-y: 250px;
}
.service-head{
    text-align: center;
}
.What-can-service{
    display: flex;
    justify-content: space-around;
    /* background-color: #e5eef0; */
    padding: 0 50px;
    /* margin: 0 auto; */
}
.web-dev{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    border-radius: 20px;
}
.web-dev:hover{
    background-color: #bcdee5;
    border: 2px solid #8cc0ca;
    /* transition-duration: .4s; */
}
.web-dev-image img{
    width: 100%;
}
.web-design{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    border-radius: 20px;
}
.web-design:hover {
    background-color: #bcdee5;
    border: 2px solid #8cc0ca;
    /* transition-duration: .4s; */
}
.web-design-image img{
    width: 100%;
}
.photogrphy{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    border-radius: 20px;
}
.photogrphy:hover {
    background-color: #bcdee5;
    border: 2px solid #8cc0ca;
    /* transition-duration: .4s; */
}
.photogrphy-image img{
    width: 100%;
    height: 150px;
}
.mail-me{
    width:500px;
    justify-content: center;
    padding: 20px 400px;
}
.input-area{
    width: 300px;
    height: 30px;
    border: 2px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 10;
}

.footer-add{
    text-align: center;
    background-image: linear-gradient(#5f5e5c, #e7dddd);
    color: black;
    padding: 5px 0;
}
.footer-add h1{
    font-family: 'The Nautigal',
    cursive;
    font-size: 65px;
}