body{
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    line-height: 50px;
}
p{
    font-size: 14px;
}
.h2-disg{
    font-size: 30px;
    font-weight: 700;
}
.btn{
    background-image: linear-gradient(#B993D6, #8CA6DB);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 10px 10px #B993D6;
}
.btn:hover{
    color: white;
}
.main-head{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.main-head-left{
    padding-left: 150px;
    width: 45%;
}
/* .main-head-left p{
    margin-bottom: 30px;
} */
.mb-30{
    margin-bottom: 30px;
}
.mt-40{
    margin-top: 40px;
}
.left-border{
    border-left: 4px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 10;
    padding-left: 8px;
}
.aquamarine-h{
    color: rgb(120, 219, 186);
}
.main-head-right {
    padding-left: 150px;
    width: 45%;
}
.head-image img{
    width: 80%;
}
.mission-head{
    text-align: center;
}
.mission-head h1{
    font-size: 40PX;
}

.mission-body{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-left: 70px;
    margin-bottom: 70px;
}
.mi-first-content{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    background-color: #ecd9e5;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
}
.mi-image-1 img{
    width: 35%;
}
.mi-image-1 img:hover{
    width: 50%;
}
.mi-secoend-content{
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    background-color: #c4d1e9;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
}
.mi-image-2 img{
    width: 35%;
}
.mi-image-2 img:hover {
    width: 50%;
}
.mi-third-content{
   width: 300px;
   height: 280px;
   padding: 20px 20px;
   background-color: #a8cfd8;
   border-radius: 20px;
   box-shadow: 5px 10px 18px #888888;
}
.mi-image-3 img{
    width: 35%;
}
.mi-image-3 img:hover {
    width: 50%;
}
.body-dev{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.body-dev-image img{
    width: 50%;
    padding-left: 250px;
    
}
.body-dev-pra p span{
    font-weight: 700;
    font-size: 18px;
}
.body-dev-pra p span:hover{
    color: black;
    font-size: 25px;
    transition-duration: .3s;
}
.body-dev-pra{
    padding-right: 150px;
}
.body-third-elem{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.body-glo-com{
    padding-left: 250px ;
}
.body-glo-com-image img{
    width: 50%;
    padding-left: 100px;
}

.footer-add{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0;
}
.footer-add h1{
    font-style: italic;
    font-size: 40px;
}